<!doctype html>

<html lang="en">
<head>
	<title>tux beta</title>
	<link rel="stylesheet" href="style/main.css" />
	<link rel="stylesheet" href="style/themes.css" />
</head>

<body>
	
	<div id="headstrip">
		<div class="pagewrap">
			<h1>tux beta</h1>
			<ul id="toolbox">
				<li id="username">Matt</li>
				<li id="config"><span class="ico" title="Settings">Settings</span><div>
					
					<span class="theme"><h3>Theme</h3>
						<a href="#" class="grass" title="Grass">Grass</a>
						<a href="#" class="water" title="Water">Water</a>
						<a href="#" class="autumn" title="Autumn">Autumn</a>
						<a href="#" class="newyork" title="New York">New York</a>
						<a href="#" class="noise" title="Noise">Noise</a>
						<a href="#" class="none" title="None">None</a>
					</span>
					
				</div></li>
			</ul>
		</div>
	</div>
	
	<div class="pagewrap">
		
		<div id="accounts" class="mini-app">
			<h2>Accounts</h2>
			<form>
				<input type="text" name="name" placeholder="Account Name" />
				<input type="text" name="bal" placeholder="Balance" />
				<select name="type">
					<option value="s">Savings</option>
					<option value="c">Credit</option>
				</select>
				<input type="text" name="limit" placeholder="Credit Limit" />
				<input type="submit" />
			</form>
			<table>
				<tr><th>Name</th><th>Balance</th><th>Type</th><th>Credit Limit</th><th></th></tr>
			</table>
			<script type="text/html" id="account-tmpl">
				<td>${name}</td><td>${bal}</td><td>${type}</td><td>${limit}</td><td><a href="#" class="edit">edit</a> | <a href="#" class="remove">delete</a></td>
			</script>
			<script type="text/html" id="account-edit-tmpl">
				<td><input type="text" name="name" value="${name}" /></td><td><input type="text" name="bal" value="${bal}" /></td>
				<td><select name="type">
					<option value="s">Savings</option>
					<option value="c">Credit</option>
				</select></td>
				<td><input type="text" name="limit" value="${limit}" /></td>
				<td><a href="#" class="save">save</a> | <a href="#" class="remove">delete</a></td>
			</script>
			<script type="text/html" id="accounts-total-tmpl">
				<tr class="total"</tr><td>TOTAL</td><td>${total}</td></tr>
			</script>
		</div>
		
		<div id="pending" class="mini-app">
			<h2>Pending</h2>
			<table>
				<tr><th>Date</th><th>Account</th><th>Amount</th><th>Desciption</th><th>Transfer</th><th></th></tr>
			</table>
			<script type="text/html" id="pending-tmpl">
				<td>${date}</td><td>${account.name}</td><td>${amount}</td><td>${desc}</td><td>{{if transfer}}${transfer.name}{{/if}}</td><td><a href="#" class="review">review</a> | <a href="#" class="remove">delete</a></td>
			</script>
			<script type="text/html" id="pending-edit-tmpl">
				<td>${date}</td><td>${account.name}</td><td>${amount}</td><td>${desc}</td><td>{{if transfer}}${transfer.name}{{/if}}</td><td><a href="#" class="approve">approve</a> | <a href="#" class="remove">delete</a></td>
			</script>
		</div>
		
		<div id="schedules" class="mini-app">
			<h2>Schedules</h2>
			<form>
				<select name="accountid" class="accounts"></select>
				<input type="text" name="amount" placeholder="Amount" />
				<input type="text" name="desc" placeholder="Description" />
				<select name="transfer" class="transfer-account"></select>
				<input type="text" name="start" placeholder="Start Date" />
				<select name="frequency">
					<option value="o">Once only</option>
					<option value="d">Daily</option>
					<option value="w">Weekly</option>
					<option value="f">Fortnightly</option>
					<option value="m">Monthly</option>
					<option value="y">Yearly</option>
				</select>
				<input type="text" name="end" placeholder="End Date" />
				<input type="submit" />
			</form>
			<table>
				<tr><th>Account</th><th>Amount</th><th>Description</th><th>Transfer</th><th>Start</th><th>Frequency</th><th>Ending</th><th></th></tr>
			</table>
			<script type="text/html" id="schedule-tmpl">
				<tr><td>${account.name}</td><td>${amount}</td><td>${desc}</td><td>{{if transfer}}${transfer.name}{{/if}}</td><td>${start}</td><td>${frequency}</td><td>${end}</td>
					<td><a href="#" class="edit">edit</a> | <a href="#" class="remove">delete</a>{{if frequency !== 'Only Once'}} | <a href="#" class="next">next five</a>{{/if}}
					{{if instances && instances.length}} | <a href="#" class="hide-txs">hide all</a>{{/if}}</td></tr>
				{{each(i) instances}}
					<tr data-index="${i}"><td>${tux.util.formatDate(date)}</td><td>${tux.util.formatCurrency(amount)}</td><td>${desc}</td><td></td><td></td><td></td><td></td>
						<td><a href="#" class="edit-tx">edit</a> | <a href="#" class="remove-tx">delete</a></td></tr>
				{{/each}}
			</script>
			<script type="text/html" id="schedule-edit-tmpl">
				<tr class="edit-mode"><td><select name="accountid" class="accounts"></select></td><td><input type="text" name="amount" value="${amount}" /></td>
					<td><input type="text" name="desc" value="${desc}" /></td><td><select name="transfer" class="transfer-account"><option value=""></option></select></td>
					<td><input type="text" name="start" value="${start}" /></td><td><select name="frequency">
						<option value="o">Once only</option>
						<option value="d">Daily</option>
						<option value="w">Weekly</option>
						<option value="f">Fortnightly</option>
						<option value="m">Monthly</option>
						<option value="y">Yearly</option>
					</select></td><td><input type="text" name="end" value="${end}" /></td>
					<td><a href="#" class="save">save</a> | <a href="#" class="remove">delete</a></td></tr>
			</script>
			<script type="text/html" id="schedule-edit-tx-tmpl">
				<td><input type="text" name="date" value="${tux.util.formatDate(date)}" /></td><td><input type="text" name="amount" value="${amount}" /></td><td><input type="text" name="desc" value="${desc}" /></td><td></td><td></td></td><td></td><td>
							<td><a href="#" class="save-tx">save</a> | <a href="#" class="remove-tx">delete</a></td>
			</script>
		</div>
		
		<div id="reports" class="mini-app">
			<h2>Reports</h2>
			<form>
				<input type="text" name="title" placeholder="Title" />
				<input type="text" name="ahead" placeholder="Days Ahead" />
				<select multiple name="accountid" class="accounts"></select>
				<input type="submit" />
			</form>
			<script type="text/html" id="report-tmpl">
				<h3>${title}</h3>
				<a href="#" class="remove">delete</a> | <a href="#" class="refresh">refresh</a>
				<div id="report-${id}" class="chart"></div>
			</script>
		</div>
		
		<div id="goals" class="mini-app">
			<h2>Savings Goals</h2>
			<form>
				<input type="text" name="what" placeholder="What are you saving for?" />
				<input type="text" name="goal" placeholder="..and how much is it?" />
				<input type="text" name="credit" placeholder="Using any credit?" />
				<input type="submit">
			</form>
			<table>
				<tr><th>Goal</th><th>Amount</th><th>With Credit<th>When</th></tr>
			</table>
			<script type="text/html" id="goal-tmpl">
				<td>${what}</td><td>${goal}</td><td>${credit}<td>${when}</td><td><a href="#" class="remove">delete</a></td>
			</script>
		</div>
	
	</div>
	
	<!-- libraries -->
	<script src="script/lib/jquery-1.6.min.js"></script>
	<script src="script/lib/jquery.tmpl.min.js"></script>
	<script src="script/lib/underscore.js"></script>
	<script src="script/lib/backbone.js"></script>
	<script src="script/lib/backbone.localStorage.js"></script>
	
	<!-- tux utils -->
	<script src="script/tux/util.js"></script>
	<!-- config -->
	<script src="script/tux/config.js"></script>
	<!-- accounts -->
	<script src="script/tux/account.js"></script>
	<script src="script/tux/accountlist.js"></script>
	<script src="script/tux/accountview.js"></script>
	<script src="script/tux/accountcontrol.js"></script>
	<!-- pending -->
	<script src="script/tux/pending.js"></script>
	<!-- schedules -->
	<script src="script/tux/schedule.js"></script>
	<!-- reports -->
	<script src="script/tux/reports.js?v=2"></script>
	<!-- goals -->
	<script src="script/tux/goals.js"></script>
	
	<!-- bootstrap -->
	<script>
	$(function() {
		tux.configApp = new tux.ConfigView;
		tux.accountApp = new tux.AccountControl;
		tux.pendingApp = new tux.PendingApp;
		tux.sheduleApp = new tux.ScheduleApp;
		tux.reportApp = new tux.ReportApp;
		tux.goalApp = new tux.GoalApp;
	});
	</script>
	
	<!-- Google Charts -->
	<script src="https://www.google.com/jsapi"></script>
	<script>
		$(function() {
			google.load('visualization', '1', {
				packages:['corechart'],
				callback: tux.reports.chartLoad
			});
		});
	</script>
</body>
</html>