/**
 * General
 */
html,
body {
	height: 100%
}
body {
	margin: 0;
	padding: 0;
	color: #524e4e;
	background: url(../img/bg-check-grad.png) repeat-x, url(../img/bg-check.png);
}
body,
input {
	font-family: Calibri;
	font-size: 13px;
}
h1 {
	text-indent: -1000px;
	height: 64px;
	background: url(../img/logo.png) no-repeat;
	margin: 16px 0;
}
#tux {
	width: 960px;
	position: relative;
	margin: 0 auto;
	height: 100%;
}

/* navigation */
#nav-container {
	position: fixed;
	top: 0;
	width: 180px;
}
#nav {
	list-style: none none outside;
	padding: 0;
}
#nav-container a {
	display: block;
	padding: 8px 20px;
	text-decoration: none;
	z-index: 1;
	position: relative;
	color: #524e4e;
}
#nav-container li:hover {
	background: -webkit-linear-gradient(rgba(199, 225, 246, 0.4), rgba(211, 231, 248, 0.4));
}
#nav-container li.current {
	background: -webkit-linear-gradient(#c7e1f6, #d3e7f8);
	box-shadow: 0 0 0 1px #d7d7d7;
}

/* wrapped modules */
#module-container {
	position: absolute;
	left: 180px;
	box-shadow: 0 0 0 1px #d7d7d7;
	background-color: rgba(255, 255, 255, 0.66);
	padding: 20px;
	border-top: 7px solid #efeaaf;
	min-height: 100%;
	box-sizing: border-box;
}
#module-container div.module {
	height: 0;
	opacity: 0;
	overflow: hidden;
}
#module-container div.module.current {
	height: 100%;
	opacity: 1;
}
h2 {
	border-left: 4px solid #9c9;
	padding-left: 10px;
}

/**
 * Table lists w/ tools
 */
.table-list {
	list-style: none none outside;
	display: inline-block;
	padding: 0;
	margin: 0 0 30px;
}
.table-list li {
	padding: 3px 6px;
	cursor: default;
}
.table-list span {
	display: inline-block;
	width: 100px;
}
.table-list .tools {
	width: auto;
	padding-left: 12px;
}
.table-list span.tools a {
	display: inline-block;
	width: 16px;
	height: 16px;
	text-indent: -90px;
	overflow: hidden;
	vertical-align: bottom;
}
.table-list a.destroy {
	background-image: url(../img/ico/delete.png);
}
.table-list a.edit {
	background-image: url(../img/ico/edit.png);
}
/* standard */
.table-list .account {
	width: 180px;
}
.table-list .amount {
	width: 60px;
	text-align: right;
	padding-right: 12px;
}
.table-list .desc {
	width: 200px;
}

/**
 * Accounts
 */
#accounts span.name {
	width: 160px;
}
#accounts span.balance {
	text-align: right;
}
#accounts li.total {
	font-weight: bold;
	margin: 3px 0;
	border-top: 1px dotted #aaa;
	padding-top: 3px;
	text-transform: uppercase;
	background-color: transparent;
}
/* inputs */
#accounts ul input {
	border: 1px solid #ddd;
	height: 16px;
	margin: 0;
	padding: 0 2px;
}
/* edit view */
#accounts span.name input {
	width: 154px;
}
#accounts span.balance input {
	width: 74px;
}
#accounts li input[type=submit] {
	width: 0px;
	visibility: hidden;
}

/**
 * Tags
 */
#tags .code {
	width: 50px;
}

/**
 * Schedule
 */
#schedule li.expired {
	color: #999;
}
#schedule span.start,
#schedule span.end,
#schedule span.next {
	width: 60px;
}
