/* fonts 
@font-face {
	font-family: "AlteHaasGroteskBold";
	src: url(../font/AlteHaasGroteskBold.ttf);
} */

/* general */
body {
	margin: 0;
	padding: 0 0 20px;
	font-size: 0.7em;
	font-family: Arial;
	background-color: #ccc;
}
.pagewrap {
	margin: 0 80px;
	overflow: auto;
}
h1, h2 {
	font-family: AlteHaasGroteskBold, Georgia;
}
::-webkit-input-placeholder {
	font-style: italic;
}
input,
select {
	font-size: 1em;
}

/**
 * Header
 */
#headstrip {
	overflow: auto;
	background: -webkit-linear-gradient(top, rgba(100, 100, 100, 0.55) 0%, rgba(160, 160, 160, 0.15) 100%);
	-webkit-box-shadow: 0px 0px 8px #333;
	line-height: 40px;
}

h1 {
	margin: 0;
	float: left;
	text-shadow: 1px 1px 1px #666;
}
#toolbox {
	float: right;
	list-style: none none outside;
	margin: 0;
	padding: 0;
}
#toolbox > li {
	display: inline-block;
	margin-left: 20px;
}
#config .ico {
	background: url(../img/ico/gear.png) no-repeat center center;
	width: 24px;
	cursor: pointer;
	display: inline-block;
	padding: 0 12px;
	text-indent: -999px;
	overflow: hidden;
}
#config:hover .ico {
	background-color: rgba(255, 255, 255, 0.5);
	opacity: 0.6;
}

/**
 * Config panel
 */
#config div {
	display: none;
	width: 140px;
	position: absolute;
	line-height: 1em;
	top: 40px;
	right: 80px;
	padding: 20px;
	color: #000;
	background-color: rgba(255, 255, 255, 0.9);
	-webkit-border-radius: 0 0 8px 8px;
	-webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
	z-index: 1000;
}
#config:hover div {
	display: block;
}
/* themes */
.theme a {
	display: inline-block;
	text-indent: -999px;
	overflow: hidden;
	width: 32px;
	height: 18px;
	margin-bottom: 4px;
	background-color: #fff;
	border: 1px dotted #aaa;
	padding: 4px;
	background: url(../img/ico/theme-sprite.png) no-repeat;
	background-clip: content-box;
	background-position: 4px 4px;
}
.theme a.water {
	background-position: 4px -14px;
}
.theme a.autumn {
	background-position: 4px -32px;
}
.theme a.noise {
	background-position: 4px -50px;
}
.theme a.newyork {
	background-position: 4px -68px;
}
.theme a.none {
	background-image: none;
}

/**
 * TEMP STUFF, FEATURES DEV
 */
.mini-app {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.9);
	margin-top: 40px;
	color: #333;
	float: left;
	clear: left;
}
.mini-app h2 {
	margin-top: 0;
}
table {
	margin-top: 10px;
}
th {
	text-align: left;
}
th, td {
	padding-right: 30px;
}
tr.edit-mode td {
	padding: 0;
}
tr.total {
	font-weight: bold;
}
tr.expired {
	opacity: 0.45;
}
#reports h3 {
	margin-bottom: 0;
}
#reports div.chart {
	-webkit-box-shadow: 0 0 10px rgba(60, 60, 60, 0.5);
	padding: 20px;
	margin: 25px;
	height: 350px;
	width: 850px;
}


input[name=bal],
input[name=limit],
input[name=amount],
input[name=start],
input[name=end],
input[name=ahead],
input[name=date] {
	width: 60px;
}
select {
	padding: 1px;
}
