/**
 * General
 */
body {
	margin: 0;
	padding: 0;
	color: #333;
	background: url('../img/bg-texture.jpg') #bcb;
}
body,
input {
	font: 13px "Myriad Pro", "Trebuchet MS", "Arial";
}

/* nav block */
#nav-container {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 200px;
	color: #eee;
	padding-left: 20px;
}
#nav-container a {
	color: #eee;
}

/* apps hold */
#app-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 200px;
	right: 0;
	box-shadow: -5px 0 12px rgba(0, 0, 0, 0.65);
	padding: 20px;
	background-color: #f2f2f2;
}
h2 {
	border-left: 4px solid #9c9;
	padding-left: 10px;
}

/**
 * Accounts
 */
#accounts ul {
	list-style: none none outside;
	display: inline-block;
	padding: 0;
	margin: 0;
}
#accounts li {
	padding: 3px 6px;
	border-radius: 3px;
	margin: 1px 0;
	cursor: default;
}
#accounts li span {
	display: inline-block;
}
#accounts span.name {
	width: 160px;
}
#accounts span.balance {
	width: 80px;
	text-align: right;
}
#accounts span.tools {
	opacity: 0;
	padding-left: 12px;
}
#accounts li:hover span.tools {
	opacity: 1;
}
#accounts span.tools a {
	display: inline-block;
	width: 16px;
	height: 16px;
	text-indent: -90px;
	overflow: hidden;
	vertical-align: bottom;
}
#accounts a.destroy {
	background-image: url(../img/ico/delete.png);
}
#accounts a.edit {
	background-image: url(../img/ico/edit.png);
}
#accounts li.total {
	font-weight: bold;
	margin: 3px 0 30px;
	border-top: 1px dotted #aaa;
	padding-top: 3px;
	text-transform: uppercase;
}
/* accounts input */
#accounts ul input {
	border: 1px solid #ddd;
	height: 16px;
	margin: 0;
	padding: 0 2px;
}
#accounts span.name input {
	width: 154px;
}
#accounts span.balance input {
	width: 74px;
}
#accounts li input[type=submit] {
	width: 0px;
	visibility: hidden;
}