/* all */
body {
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
}

/* grass */
body.grass {
	background-image: url(../themes/grass/bg.jpg);
}
body.grass #headstrip {
	background: -webkit-linear-gradient(top, rgba(180, 180, 135, 0.85) 0%, rgba(200, 200, 180, 0.7) 100%);
}
body.grass h3 {
	color: #83b876;
}

/* water */
body.water {
	background-image: url(../themes/water/bg.jpg);
}
body.water #headstrip {
	background: -webkit-linear-gradient(top, rgba(30, 90, 150, 0.85) 0%, rgba(125, 185, 230, 0.7) 100%);
}
body.water h3 {
	color: #7695b8;
}

/* autumn */
body.autumn {
	background-image: url(../themes/autumn/bg.jpg);
}
body.autumn #headstrip {
	background: -webkit-linear-gradient(top, rgba(240, 150, 20, 0.85) 0%, rgba(255, 190, 80, 0.7) 100%);
}
body.autumn h3 {
	color: #b8a476;
}

/* noise */
body.noise {
	background-image: url(../themes/noise/bg.png);
	background-repeat: repeat;
	background-size: auto;
}
body.noise #headstrip {
	-webkit-box-shadow: 0px 0px 16px #666;
}
body.noise h3 {
	color: #8b7a88;
}

/* new york */
body.newyork {
	background-image: url(../themes/newyork/bg.jpg);
}
body.newyork #headstrip {
	background: -webkit-linear-gradient(top, rgba(100, 100, 100, 0.85) 0%, rgba(160, 160, 160, 0.7) 100%);
	-webkit-box-shadow: 0px 0px 16px #666;
}
body.newyork h3 {
	color: #8b7a88;
}
