<span class="account">{{ account }}</span>
<span class="tag">{{ tag }}</span>
<span class="amount">{{ tux.util.formatCurrency(amount) }}</span>
<span class="desc">{{ desc }}</span>
<span class="frequency">{{ frequency }}</span>
<span class="start">{{ tux.util.formatDate(start) }}</span>
<span class="end"><% if (obj.end) { %>{{ tux.util.formatDate(end) }}<% } %></span>
<span class="next">{{ tux.util.formatDate(next) }}</span>