<form>
	<input type="text" name="account" />
	<input type="text" name="tag" />
	<input type="text" name="amount" />
	<input type="text" name="desc" />
	<br />
	<br />
	<input type="text" name="freq-code" />
	<input type="text" name="start" />
	<input type="text" name="end" />
	<input type="submit" />
</form>