<span class="date">{{ tux.util.formatDate(date) }}</span>
<span class="account">{{ account }}</span>
<span class="tag">{{ tag }}</span>
<span class="amount">{{ tux.util.formatCurrency(amount) }}</span>
<span class="desc">{{ desc }}</span>